<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('partials/head'); %>

</head>

<body>

  <!-- PRE LOADER -->

  <!--
     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>
     -->

  <!-- Navigation section  -->

  <%- include('partials/header', {variant:'about'}); %>


  <!-- About Section -->

  <section id="about">
    <div class="container">
      <div class="row">

        <div class="col-md-offset-1 col-md-10 col-sm-12">
          <div class="section-title">
            <h3>about me !</h3>

          </div>

          <div class="col-md-8 col-sm-12">
            <img src="images/fs.png" class="img-responsive" alt="About">
          </div>

          <div class="col-md-4 col-sm-12">
            <h1>KwikKill</h1>
            <p>Just an ordinary IT student who just wants to learn new things but is involved in
              too
              many personal projects.</p>
          </div>

          <div class="clearfix"></div>

          <hr>

          <p>Hi ! I'm KwikKill, a French student in INSA Rennes. </p>
          <p>Passionate about computers for many years, I dedicate my free time as well as my lack
            of
            free time to IT projects, sometimes useful, often unnecessary.</p>
          <p>On this site you will be able to find my creations with a description, the stages of
            development, the usefulness of these projects and everything that comes to my mind.
            This
            site is not really intended to be updated often but rather to serve as a Portfolio
            You can
            check my
            <a href="https://github.com/KwikKill/">github</a> where you can find my projects.
          </p>
          <hr>

          <div class="col-md-4 col-sm-6">
            <h3>Software used :</h3>
            <ul>
              <li>VS Code</li>
              <li>GIMP</li>
              <li>Eclipse</li>
            </ul>
          </div>

          <div class="col-md-4 col-sm-6">
            <h3>Languages learned</h3>
            <ul>
              <li>JavaScript</li>
              <li>Python</li>
              <li>Java (not a lot)</li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- Footer Section -->

  <footer>
    <%- include('partials/footer'); %>
  </footer>


  <!-- SCRIPTS -->

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CD70HY5J9Z"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-CD70HY5J9Z');
  </script>

</body>

</html>