<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('partials/head'); %>

</head>

<body>

  <!-- PRE LOADER -->

  <!--
     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>
     -->

  <!-- Navigation section  -->

  <%- include('partials/header', {variant:'blog'}); %>

  <!-- Blog Section -->

  <section id="blog">
    <div class="container">
      <div class="row">

        <div class="col-md-offset-1 col-md-10 col-sm-12">
          <div class="section-title">
            <h3>lastest Blogs</h3>
            <h2>I'll add some posts about R&D tasks or topics I find interesting.</h2>
          </div>

          <div class="blog-post-thumb">
            <div class="blog-post-image">
              <a href="posts/website-creation">
                <img src="images/web.jpg" class="img-responsive" alt="Blog Image">
              </a>
            </div>
            <div class="blog-post-title">
              <h3><a href="posts/website-creation">Website Creation</a>
              </h3>
            </div>
            <div class="blog-post-format">
              <span><a href="#"><img src="images/logo.png" class="img-responsive img-circle">
                  KwikKill</a></span>
              <span><i class="fa fa-date"></i> Nov 15, 2022</span>
            </div>
            <div class="blog-post-des">
              <p>In this article I detail the process and thought behind the creation of this
                site.
                From my expectations, through my difficulties, this first article allows me
                to
                open this site in the right way.</p>
              <a href="posts/website-creation" class="btn btn-default">Continue Reading</a>
            </div>
          </div>
          <!--
                         <div class="blog-post-thumb">
                              <div class="blog-post-image">
                                   <a href="posts/single-post">
                                        <img src="images/blog-image2.jpg" class="img-responsive" alt="Blog Image">
                                   </a>
                              </div>
                              <div class="blog-post-title">
                                   <h3><a href="posts/single-post">When do you marry with someone you love in
                                             life?</a>
                                   </h3>
                              </div>
                              <div class="blog-post-format">
                                   <span><a href="#"><img src="images/author-image2.jpg"
                                                  class="img-responsive img-circle"> Leo Dennis</a></span>
                                   <span><i class="fa fa-date"></i> November 22, 2016</span>
                                   <span><a href="#"><i class="fa fa-comment-o"></i> 23 Comments</a></span>
                              </div>
                              <div class="blog-post-des">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur.</p>
                                   <a href="posts/single-post" class="btn btn-default">Continue Reading</a>
                              </div>
                         </div>
                         -->
        </div>

      </div>
    </div>
  </section>

  <!-- Footer Section -->

  <footer>
    <%- include('partials/footer'); %>
  </footer>


  <!-- SCRIPTS -->

  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CD70HY5J9Z"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-CD70HY5J9Z');
  </script>

</body>

</html>