<!DOCTYPE html>
<html lang="en">

<head>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <title>KwikKill WebSite</title>
     <link rel="icon" href="images/favicon.ico" />

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">

     <!-- Main css -->
     <link rel="stylesheet" href="css/style.css">
     <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

</head>

<body>

     <!-- PRE LOADER -->

     <!--
     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>
     -->

     <!-- Navigation section  -->

     <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><img src="images/logo.png" class="logo"></img></a>
               </div>
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="/">Projects</a></li>
                         <li><a href="about">About Me</a></li>
                         <li class="active"><a href="blog">Blog</a></li>
                         <li><a href="contact">Contact</a></li>
                    </ul>
               </div>

          </div>
     </div>

     <!-- Blog Section -->

     <section id="blog">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <div class="section-title">
                              <h3>lastest Blogs</h3>
                              <h2>I'll add some posts about R&D tasks or topics I find interesting.</h2>
                         </div>

                         <div class="blog-post-thumb">
                              <div class="blog-post-image">
                                   <a href="posts/website-creation">
                                        <img src="images/web.jpg" class="img-responsive" alt="Blog Image">
                                   </a>
                              </div>
                              <div class="blog-post-title">
                                   <h3><a href="posts/website-creation">Website Creation</a>
                                   </h3>
                              </div>
                              <div class="blog-post-format">
                                   <span><a href="#"><img src="images/logo.png" class="img-responsive img-circle">
                                             KwikKill</a></span>
                                   <span><i class="fa fa-date"></i> Nov 15, 2022</span>
                              </div>
                              <div class="blog-post-des">
                                   <p>In this article I detail the process and thought behind the creation of this site.
                                        From my expectations, through my difficulties, this first article allows me to
                                        open this site in the right way.</p>
                                   <a href="posts/website-creation" class="btn btn-default">Continue Reading</a>
                              </div>
                         </div>
                         <!--
                         <div class="blog-post-thumb">
                              <div class="blog-post-image">
                                   <a href="posts/single-post">
                                        <img src="images/blog-image2.jpg" class="img-responsive" alt="Blog Image">
                                   </a>
                              </div>
                              <div class="blog-post-title">
                                   <h3><a href="posts/single-post">When do you marry with someone you love in
                                             life?</a>
                                   </h3>
                              </div>
                              <div class="blog-post-format">
                                   <span><a href="#"><img src="images/author-image2.jpg"
                                                  class="img-responsive img-circle"> Leo Dennis</a></span>
                                   <span><i class="fa fa-date"></i> November 22, 2016</span>
                                   <span><a href="#"><i class="fa fa-comment-o"></i> 23 Comments</a></span>
                              </div>
                              <div class="blog-post-des">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur.</p>
                                   <a href="posts/single-post" class="btn btn-default">Continue Reading</a>
                              </div>
                         </div>
                         -->
                    </div>

               </div>
          </div>
     </section>

     <!-- Footer Section -->

     <footer>
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
                         <p><a href="mailto:gabriel@blaisot.com">gabriel@blaisot.com</a></p>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <ul class="social-icon">
                              <li><a href="https://www.linkedin.com/in/gabriel-blaisot-a89480233/"
                                        class="fa fa-linkedin"></a></li>
                         </ul>
                    </div>

                    <div class="clearfix col-md-12 col-sm-12">
                         <hr>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <div class="footer-copyright">
                              <p>© 2022 KwikKill | All Rights Reserved.</p>
                         </div>
                    </div>



               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->

     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/custom.js"></script>

</body>

</html>