<!DOCTYPE html>
<html lang="en">

<head>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <title>KwikKill WebSite</title>
     <link rel="icon" href="images/favicon.ico" />

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">

     <!-- Main css -->
     <link rel="stylesheet" href="css/style.css">
     <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

</head>

<body>

     <!-- PRE LOADER -->
     <!--
     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>
     -->
     <!-- Navigation section  -->

     <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><img src="images/logo.png" class="logo"></img></a>
               </div>
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li class="active"><a href="/">Projects</a></li>
                         <li><a href="about">About Me</a></li>
                         <li><a href="blog">Blog</a></li>
                         <li><a href="contact">Contact</a></li>
                    </ul>
               </div>

          </div>
     </div>

     <!-- Home Section -->

     <section id="home">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <h2>Welcome on my website. You can navigate through my personnal projects bellow.
                         </h2>
                         <hr>
                    </div>

               </div>
          </div>
     </section>

     <!-- Portfolio Section -->

     <section id="portfolio">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <a href="projects/mindustry">
                              <div class="portfolio-thumb">
                                   <img src="images/mindustry.png" class="img-responsive" alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Mindustry mod</h3>
                                             <small>A moded version of Mindustry. Does not work
                                                  anymore</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="projects/virtual-fs">
                              <div class="portfolio-thumb">
                                   <img src="images/fs.png" class="img-responsive" alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>File system</h3>
                                             <small>virtual file system created in IT class</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="projects/taunt_bot">
                              <div class="portfolio-thumb">
                                   <img src="images/taunt.png" class="img-responsive" alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Taunt Bot</h3>
                                             <small>A Discord bot for the association Taunt.fr</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <a href="projects/kwik_bot">
                              <div class="portfolio-thumb">
                                   <img src="images/kwik_bot.png" class="img-responsive" alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Kwik_Bot</h3>
                                             <small>A Discord bot as support for personal projects</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>


                    <div class="col-md-4 col-sm-6">
                         <a href="projects/lol-database">
                              <div class="portfolio-thumb">
                                   <img src="images/lol.png" class="img-responsive" alt="Portfolio">
                                   <div class="portfolio-overlay">
                                        <div class="portfolio-item">
                                             <h3>Lol Database</h3>
                                             <small>An extension for my discord bot to analyze league of legends
                                                  stats</small>
                                        </div>
                                   </div>
                              </div>
                         </a>
                    </div>

                    <div class="col-md-12 col-sm-12 text-center">
                         <h3>If you want, you can send me a message on the <a href="contact">contact page</a></h3>
                    </div>

               </div>
          </div>
     </section>

     <!-- Footer Section -->

     <footer>
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
                         <p><a href="mailto:gabriel@blaisot.com">gabriel@blaisot.com</a></p>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <ul class="social-icon">
                              <li><a href="https://www.linkedin.com/in/gabriel-blaisot-a89480233/"
                                        class="fa fa-linkedin"></a></li>
                         </ul>
                    </div>

                    <div class="clearfix col-md-12 col-sm-12">
                         <hr>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <div class="footer-copyright">
                              <p>© 2022 KwikKill | All Rights Reserved.</p>
                         </div>
                    </div>



               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->

     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/custom.js"></script>

</body>

</html>