<!DOCTYPE html>
<html lang="en">

<head>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <title>KwikKill WebSite</title>
     <link rel="icon" href="../images/favicon.ico" />

     <link rel="stylesheet" href="../css/bootstrap.min.css">
     <link rel="stylesheet" href="../css/font-awesome.min.css">

     <!-- Main css -->
     <link rel="stylesheet" href="../css/style.css">
     <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

</head>

<body>

     <!-- PRE LOADER -->

     <!--
     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>
     -->

     <!-- Navigation section  -->

     <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
                    <a href="../" class="navbar-brand"><img src="../images/logo.png" class="logo"></img></a>
               </div>
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="../">Projects</a></li>
                         <li><a href="../about">About Me</a></li>
                         <li><a href="../blog">Blog</a></li>
                         <li><a href="../contact">Contact</a></li>
                    </ul>
               </div>

          </div>
     </div>


     <!-- Single Project Section -->

     <section id="single-project">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <h1>Kwik Bot</h1>
                         <p>While I was watching IT videos on youtube during my free time, I had the idea to make a bot
                              discord. First without any real purpose, then as a base for future projects. Kwik Bot was
                              born (I swear I'm not megalomaniac).</p>
                         <div class="col-md-12 col-sm-12">
                              <img src="../images/lol.png" class="img-responsive" alt="Portfolio">
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <img src="../images/kwik_bot.png" class="img-responsive" alt="Portfolio">
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <img src="../images/kwik_help.png" class="img-responsive" alt="Portfolio">
                         </div>

                         <div class="clearfix"></div>

                         <div class="col-md-4 col-sm-4">
                              <h3>Repository</h3>
                              <a href="https://github.com/KwikKill/Kwik_bot">Public repo</a>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <h3>Creation's date</h3>
                              <p>Mar 31, 2019</p>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <h3>Contributor</h3>
                              <p>KwikKill</p>
                              <p>TheBloodMan</p>
                         </div>

                         <div class="col-md-12 col-sm-12 text-center">
                              <p>This bot was quickly my biggest personal and self-taught project. I first developed it
                                   through trial and error with many tutorials, then I got comfortable and moved on to
                                   reading the Discord api documentation. Once the base was done, I put this bot on a
                                   vps and
                                   added features over time. Some fun like the "B" response when someone writes "AH" but
                                   others useful like a command to get my school schedule. My biggest improvement has
                                   been my League of Legends stats analysis commands detailed in a separate article.</p>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- Footer Section -->

     <footer>
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
                         <p><a href="mailto:gabriel@blaisot.com">gabriel@blaisot.com</a></p>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <ul class="social-icon">
                              <li><a href="https://www.linkedin.com/in/gabriel-blaisot-a89480233/"
                                        class="fa fa-linkedin"></a></li>
                         </ul>
                    </div>

                    <div class="clearfix col-md-12 col-sm-12">
                         <hr>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <div class="footer-copyright">
                              <p>© 2022 KwikKill | All Rights Reserved.</p>
                         </div>
                    </div>



               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->

     <script src="../js/jquery.js"></script>
     <script src="../js/bootstrap.min.js"></script>
     <script src="../js/custom.js"></script>

</body>

</html>