<!DOCTYPE html>
<html lang="en">

<head>

     <%- include('../partials/head'); %>

</head>

<body>

     <!-- PRE LOADER -->

     <!--
     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>
     -->

     <!-- Navigation section  -->

     <%- include('../partials/header', {variant:''}); %>


          <!-- Single Project Section -->

          <section id="single-project">
               <div class="container">
                    <div class="row">

                         <div class="col-md-offset-1 col-md-10 col-sm-12">
                              <h1>Mindustry</h1>
                              <p>My first dev experience was editing a java game named Mindustry and then cloning it to
                                   add
                                   items in the game.</p>
                              <div class="col-md-12 col-sm-12">
                                   <img src="../images/mindustry.png" class="img-responsive" alt="Portfolio">
                              </div>

                              <div class="clearfix"></div>

                              <div class="col-md-4 col-sm-4">
                                   <h3>Repository</h3>
                                   <p>Deleted</p>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <h3>Creation's date</h3>
                                   <p>2017</p>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <h3>Contributor</h3>
                                   <p>KwikKill</p>
                              </div>

                              <div class="col-md-12 col-sm-12 text-center">
                                   <p>This first development experience was simple but allowed me to learn a lot of
                                        things,
                                        from Git to CI to build a project, including Java syntax.</p>
                              </div>
                         </div>

                    </div>
               </div>
          </section>

          <!-- Footer Section -->

          <footer>
               <%- include('../partials/footer'); %>
          </footer>


          <!-- SCRIPTS -->

          <script src="../js/jquery.js"></script>
          <script src="../js/bootstrap.min.js"></script>
          <script src="../js/custom.js"></script>

</body>

</html>