<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/head'); %>

</head>

<body>

  <!-- PRE LOADER -->

  <!--
     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>
     -->

  <!-- Navigation section  -->

  <%- include('../partials/header', {variant:''}); %>


  <!-- Single Project Section -->

  <section id="single-project">
    <div class="container">
      <div class="row">

        <div class="col-md-offset-1 col-md-10 col-sm-12">
          <h1>Taunt Bot</h1>
          <p>I created a bot discord for the association Taunt.fr to automate some tasks and save
            time.
          </p>
          <div class="col-md-12 col-sm-12">
            <img src="../images/taunt.png" class="img-responsive" alt="Portfolio">
          </div>

          <div class="clearfix"></div>

          <div class="col-md-4 col-sm-4">
            <h3>Repository</h3>
            <p>Private Repo</p>
          </div>

          <div class="col-md-4 col-sm-4">
            <h3>Creation's date</h3>
            <p>April 21, 2022</p>
          </div>

          <div class="col-md-4 col-sm-4">
            <h3>Contributor</h3>
            <p>KwikKill</p>
          </div>

          <div class="col-md-12 col-sm-12 text-center">
            <p>This bot allows to manage many features: tickets, training reminders, warns,...
              for the
              association Taunt.fr. This bot discord has been developped for a long time and
              allowed me to take some experience in development and in the association work.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Footer Section -->

  <footer>
    <%- include('../partials/footer'); %>
  </footer>


  <!-- SCRIPTS -->

  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/custom.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CD70HY5J9Z"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-CD70HY5J9Z');
  </script>

</body>

</html>