<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header', {variant:'lol'}); %>

        <!-- Home Section -->

        <section id="home">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <h2>
                            Bot Dashboard
                        </h2>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <!-- Status Section -->
        <section id="status">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h2>
                            Status
                        </h2>
                        <hr>
                        <div class="col-md-12 col-sm-12">
                            <h3>
                                <%= discordclient.user.presence.status %>
                            </h3>
                        </div>
                    </div>
                </div>
        </section>

        <!-- Log Section -->
        <section id="log">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h2>
                            Log
                        </h2>
                        <hr>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Section -->

        <footer>
            <%- include('../partials/footer'); %>
        </footer>


        <!-- SCRIPTS -->

        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/custom.js"></script>

</body>

</html>