<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <!-- PRE LOADER -->

  <!--
     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>
     -->

  <!-- Navigation section  -->

  <%- include('../partials/header', {variant:'among'}); %>

  <!-- Home Section -->

  <section id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2>Among Legends.</h2>
          <hr>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section id="rooms">
    <% console.log(discordclient.amonglegends) %>
    <% discordclient.amonglegends.forEach(x => {%>
    <% console.log(x) %>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2><%= x %></h2>
          <hr>
        </div>
      </div>
    </div>
    <% });%>
  </section>

  <!-- Footer Section -->

  <footer>
    <%- include('../partials/footer'); %>
  </footer>


  <!-- SCRIPTS -->

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>
  <script>
    function clicked(id) {
      if (document.getElementById(id).className == "champion-enabled") {
        document.getElementById(id).classList.add("champion-disabled");
        document.getElementById(id).classList.remove("champion-enabled");
      } else {
        document.getElementById(id).classList.add("champion-enabled");
        document.getElementById(id).classList.remove("champion-disabled");
      }
    }
  </script>

</body>

</html>