<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <!-- PRE LOADER -->

  <!--
       <div class="preloader">
            <div class="sk-spinner sk-spinner-wordpress">
                 <span class="sk-inner-circle"></span>
            </div>
       </div>
       -->

  <!-- Navigation section  -->

  <%- include('../partials/header', {variant:'lol'}); %>

  <!-- Home Section -->

  <section id="home">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-sm-12">
          <h2>
            Lol stats
          </h2>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          Welcome to the league of legends stats page. Here you can find informations about your games and your match history.
          This website is using discord Oauth2 to get your informations. No informations are stored on this website and everything is open source on my github.
          <br>

        </div>
      </div>
    </div>
  </section>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>


  <!-- SCRIPTS -->

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>
  <script>
    initial_load();
  </script>

</body>

</html>