<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <!-- PRE LOADER -->

  <!--
       <div class="preloader">
            <div class="sk-spinner sk-spinner-wordpress">
                 <span class="sk-inner-circle"></span>
            </div>
       </div>
       -->

  <!-- Navigation section  -->

  <%- include('../partials/header', {variant:'lol'}); %>

  <!-- Home Section -->

  <section id="home">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-sm-12">
          <h2>
            Lol stats
          </h2>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section id="home">
    <div class="container">
      <div class="row">
        <div class="text">
          Welcome to the league of legends stats page. Here you can find informations about your games and your match history.
          This website is using discord Oauth2 to get your informations. No informations are stored and this site is open source on my github Page.
          <br>
          To start using this website, you need to go to the <a href="profile">connection</a> page or you can click on the profile button in the navbar.
          Once your connected you need to add your summoner name in the register page. Game fetching isn't instant, it take arround 1 minute per 100 games.
          You can find your position in the queue on the <a href="queue">queue</a> page.
          <br>
          Game fetching is automatic for every user in the database, you don't need to do anything to update your match history.
          <br>
          You can manage your linked accounts from the <a href="profile">profile</a> page. You are limited to 3 accounts per discord account.
          <br>
          If you have any questions, you can contact me on discord: <b>KwikKill#6123</b>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>


  <!-- SCRIPTS -->

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>
  <script>
    initial_load();
  </script>

</body>

</html>