<% games.forEach(function(summoner) {%>
<tr>
  <td class="championCellDark">
    <div class="winIndicator victory"></div>
    <a>
      <!--href="/match/euw/6179578583#participant8">-->
      <div class="championContainer">
        <div>
          <img src="//lolg-cdn.porofessor.gg/img/s/fond_sprite.png?v=5" alt="Swain" title="Swain" class="champion-50-36 " width="36" height="36">
        </div>
        <div class="spells">
          <div class="spell">
            <img src="//lolg-cdn.porofessor.gg/img/s/fond_sprite.png?v=5" tooltip-var="perksdetails-1715725401" tooltip-class="perkTooltip" class="perk-8128-12 requireTooltip" width="12" height="12">
          </div>
          <div class="spell">
            <img src="//lolg-cdn.porofessor.gg/img/s/fond_sprite.png?v=5" alt="Flash" tooltip-var="spell-4" class="requireTooltip spell-4-12 " width="12" height="12">
          </div>
          <div class="spell">
            <img src="//lolg-cdn.porofessor.gg/img/s/fond_sprite.png?v=5" alt="Ignite" tooltip-var="spell-14" class="requireTooltip spell-14-12 " width="12" height="12">
          </div>
        </div>
      </div>
    </a>
  </td>
</tr>
<% });%>