<div class="container">
    <div class="row">

        <div class="col-md-6 col-sm-6">
            <div class="footer-copyright">
                <p>© 2022 KwikKill | All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>