name: Jest Tests
env:
  RIOT_API_KEY: '${{ env.RIOT_API_KEY }}'

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Install Dependencies
        run: npm install

      - name: Run Jest Tests
        run: npm test